<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TimeTableMaker_Backup</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.tcp.team.server.controller.ContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>getLectureInfo</servlet-name>
    <servlet-class>com.tcp.team.server.controller.getLectureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getLectureInfo</servlet-name>
    <url-pattern>/getLectureInfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>com.tcp.team.server.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>joinMember</servlet-name>
    <servlet-class>com.tcp.team.server.controller.JoinMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joinMember</servlet-name>
    <url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchMember</servlet-name>
    <servlet-class>com.tcp.team.server.controller.SearchMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchMember</servlet-name>
    <url-pattern>/searchMember.do</url-pattern>
  </servlet-mapping>
</web-app>